<img src="images/dask_horizontal.svg" align="right" width="30%">

# Bag: Parallel Lists for semi-structured data

Dask-bag excels in processing data that can be represented as a sequence of arbitrary inputs. We'll refer to this as "messy" data, because it can contain complex nested structures, missing fields, mixtures of data types, etc. The *functional* programming style fits very nicely with standard Python iteration, such as can be found in the `itertools` module.

Messy data is often encountered at the beginning of data processing pipelines when large volumes of raw data are first consumed. The initial set of data might be JSON, CSV, XML, or any other format that does not enforce strict structure and datatypes.
For this reason, the initial data massaging and processing is often done with Python `list`s, `dict`s, and `set`s.

These core data structures are optimized for general-purpose storage and processing.  Adding streaming computation with iterators/generator expressions or libraries like `itertools` or [`toolz`](https://toolz.readthedocs.io/en/latest/) let us process large volumes in a small space.  If we combine this with parallel processing then we can churn through a fair amount of data.

Dask.bag is a high-level Dask collection to automate common workloads of this form.  In a nutshell

    dask.bag = map, filter, toolz + parallel execution
    
**Related Documentation**

* [Bag documentation](https://docs.dask.org/en/latest/bag.html)
* [Bag screencast](https://youtu.be/-qIiJ1XtSv0)
* [Bag API](https://docs.dask.org/en/latest/bag-api.html)
* [Bag examples](https://examples.dask.org/bag.html)

## Create data

In [1]:
%run prep.py -d accounts

## Setup

Again, we'll use the distributed scheduler. Schedulers will be explained in depth [later](05_distributed.ipynb).

In [2]:
from dask.distributed import Client

client = Client(n_workers=4)

## Creation

You can create a `Bag` from a Python sequence, from files, from data on S3, etc.
We demonstrate using `.take()` to show elements of the data. (Doing `.take(1)` results in a tuple with one element)

Note that the data are partitioned into blocks, and there are many items per block. In the first example, the two partitions contain five elements each, and in the following two, each file is partitioned into one or more bytes blocks.

In [3]:
# each element is an integer
import dask.bag as db
b = db.from_sequence([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], npartitions=2)
b.take(3)

(1, 2, 3)

In [4]:
# each element is a text file, where each line is a JSON object
# note that the compression is handled automatically
import os
b = db.read_text(os.path.join('data', 'accounts.*.json.gz'))
b.take(1)

('{"id": 0, "name": "Yvonne", "transactions": [{"transaction-id": 258, "amount": 4556}, {"transaction-id": 2117, "amount": 4842}, {"transaction-id": 2313, "amount": 3950}, {"transaction-id": 2490, "amount": 4135}, {"transaction-id": 2554, "amount": 4441}, {"transaction-id": 2728, "amount": 4496}, {"transaction-id": 3043, "amount": 4367}, {"transaction-id": 3609, "amount": 4882}, {"transaction-id": 4018, "amount": 4477}, {"transaction-id": 4763, "amount": 4105}, {"transaction-id": 4945, "amount": 4426}, {"transaction-id": 5398, "amount": 4130}, {"transaction-id": 5714, "amount": 4247}, {"transaction-id": 6072, "amount": 4933}, {"transaction-id": 7496, "amount": 4541}, {"transaction-id": 7609, "amount": 4638}, {"transaction-id": 7618, "amount": 4453}, {"transaction-id": 7938, "amount": 4232}, {"transaction-id": 8218, "amount": 4589}, {"transaction-id": 8971, "amount": 4367}]}\n',)

In [5]:
# Edit sources.py to configure source locations
import sources
sources.bag_url

's3://dask-data/nyc-taxi/2015/yellow_tripdata_2015-01.csv'

In [6]:
# Requires `s3fs` library
# each partition is a remote CSV text file
b = db.read_text(sources.bag_url,
                 storage_options={'anon': True})
b.take(1)

('VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount\n',)

## Manipulation

`Bag` objects hold the standard functional API found in projects like the Python standard library, `toolz`, or `pyspark`, including `map`, `filter`, `groupby`, etc..

Operations on `Bag` objects create new bags.  Call the `.compute()` method to trigger execution, as we saw for `Delayed` objects.

In [7]:
def is_even(n):
    return n % 2 == 0

b = db.from_sequence([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
c = b.filter(is_even).map(lambda x: x ** 2)
c

dask.bag<lambda, npartitions=10>

In [8]:
# blocking form: wait for completion (which is very fast in this case)
c.compute()

[4, 16, 36, 64, 100]

### Example: Accounts JSON data

We've created a fake dataset of gzipped JSON data in your data directory.  This is like the example used in the `DataFrame` example we will see later, except that it has bundled up all of the entries for each individual `id` into a single record.  This is similar to data that you might collect off of a document store database or a web API.

Each line is a JSON encoded dictionary with the following keys

*  id: Unique identifier of the customer
*  name: Name of the customer
*  transactions: List of `transaction-id`, `amount` pairs, one for each transaction for the customer in that file

In [9]:
filename = os.path.join('data', 'accounts.*.json.gz')
lines = db.read_text(filename)
lines.take(3)

('{"id": 0, "name": "Yvonne", "transactions": [{"transaction-id": 258, "amount": 4556}, {"transaction-id": 2117, "amount": 4842}, {"transaction-id": 2313, "amount": 3950}, {"transaction-id": 2490, "amount": 4135}, {"transaction-id": 2554, "amount": 4441}, {"transaction-id": 2728, "amount": 4496}, {"transaction-id": 3043, "amount": 4367}, {"transaction-id": 3609, "amount": 4882}, {"transaction-id": 4018, "amount": 4477}, {"transaction-id": 4763, "amount": 4105}, {"transaction-id": 4945, "amount": 4426}, {"transaction-id": 5398, "amount": 4130}, {"transaction-id": 5714, "amount": 4247}, {"transaction-id": 6072, "amount": 4933}, {"transaction-id": 7496, "amount": 4541}, {"transaction-id": 7609, "amount": 4638}, {"transaction-id": 7618, "amount": 4453}, {"transaction-id": 7938, "amount": 4232}, {"transaction-id": 8218, "amount": 4589}, {"transaction-id": 8971, "amount": 4367}]}\n',
 '{"id": 1, "name": "Laura", "transactions": [{"transaction-id": 444, "amount": 741}, {"transaction-id": 485, "amount": 753}, {"transaction-id": 595, "amount": 782}, {"transaction-id": 627, "amount": 720}, {"transaction-id": 780, "amount": 737}, {"transaction-id": 1111, "amount": 739}, {"transaction-id": 1174, "amount": 796}, {"transaction-id": 1594, "amount": 805}, {"transaction-id": 1621, "amount": 693}, {"transaction-id": 1701, "amount": 745}, {"transaction-id": 1889, "amount": 652}, {"transaction-id": 1968, "amount": 761}, {"transaction-id": 2301, "amount": 786}, {"transaction-id": 2942, "amount": 755}, {"transaction-id": 3125, "amount": 780}, {"transaction-id": 3248, "amount": 797}, {"transaction-id": 3646, "amount": 812}, {"transaction-id": 3777, "amount": 687}, {"transaction-id": 3840, "amount": 673}, {"transaction-id": 3915, "amount": 707}, {"transaction-id": 4198, "amount": 686}, {"transaction-id": 4245, "amount": 697}, {"transaction-id": 4267, "amount": 777}, {"transaction-id": 4580, "amount": 792}, {"transaction-id": 4649, "amount": 798}, {"transaction-id": 4661, "amount": 785}, {"transaction-id": 4920, "amount": 662}, {"transaction-id": 5010, "amount": 701}, {"transaction-id": 5066, "amount": 735}, {"transaction-id": 5838, "amount": 701}, {"transaction-id": 6036, "amount": 722}, {"transaction-id": 6102, "amount": 734}, {"transaction-id": 6397, "amount": 776}, {"transaction-id": 6492, "amount": 794}, {"transaction-id": 6649, "amount": 721}, {"transaction-id": 6789, "amount": 808}, {"transaction-id": 6881, "amount": 749}, {"transaction-id": 7578, "amount": 734}, {"transaction-id": 7999, "amount": 809}, {"transaction-id": 8168, "amount": 741}, {"transaction-id": 8351, "amount": 758}, {"transaction-id": 8467, "amount": 690}, {"transaction-id": 8519, "amount": 695}, {"transaction-id": 8675, "amount": 788}, {"transaction-id": 8771, "amount": 672}, {"transaction-id": 9262, "amount": 718}, {"transaction-id": 9267, "amount": 788}, {"transaction-id": 9354, "amount": 694}, {"transaction-id": 9535, "amount": 770}, {"transaction-id": 9817, "amount": 831}, {"transaction-id": 9877, "amount": 796}]}\n',
 '{"id": 2, "name": "Quinn", "transactions": [{"transaction-id": 6369, "amount": 29}]}\n')

Our data comes out of the file as lines of text. Notice that file decompression happened automatically. We can make this data look more reasonable by mapping the `json.loads` function onto our bag.

In [10]:
import json
js = lines.map(json.loads)
# take: inspect first few elements
js.take(3)

({'id': 0,
  'name': 'Yvonne',
  'transactions': [{'transaction-id': 258, 'amount': 4556},
   {'transaction-id': 2117, 'amount': 4842},
   {'transaction-id': 2313, 'amount': 3950},
   {'transaction-id': 2490, 'amount': 4135},
   {'transaction-id': 2554, 'amount': 4441},
   {'transaction-id': 2728, 'amount': 4496},
   {'transaction-id': 3043, 'amount': 4367},
   {'transaction-id': 3609, 'amount': 4882},
   {'transaction-id': 4018, 'amount': 4477},
   {'transaction-id': 4763, 'amount': 4105},
   {'transaction-id': 4945, 'amount': 4426},
   {'transaction-id': 5398, 'amount': 4130},
   {'transaction-id': 5714, 'amount': 4247},
   {'transaction-id': 6072, 'amount': 4933},
   {'transaction-id': 7496, 'amount': 4541},
   {'transaction-id': 7609, 'amount': 4638},
   {'transaction-id': 7618, 'amount': 4453},
   {'transaction-id': 7938, 'amount': 4232},
   {'transaction-id': 8218, 'amount': 4589},
   {'transaction-id': 8971, 'amount': 4367}]},
 {'id': 1,
  'name': 'Laura',
  'transactions': [{'transaction-id': 444, 'amount': 741},
   {'transaction-id': 485, 'amount': 753},
   {'transaction-id': 595, 'amount': 782},
   {'transaction-id': 627, 'amount': 720},
   {'transaction-id': 780, 'amount': 737},
   {'transaction-id': 1111, 'amount': 739},
   {'transaction-id': 1174, 'amount': 796},
   {'transaction-id': 1594, 'amount': 805},
   {'transaction-id': 1621, 'amount': 693},
   {'transaction-id': 1701, 'amount': 745},
   {'transaction-id': 1889, 'amount': 652},
   {'transaction-id': 1968, 'amount': 761},
   {'transaction-id': 2301, 'amount': 786},
   {'transaction-id': 2942, 'amount': 755},
   {'transaction-id': 3125, 'amount': 780},
   {'transaction-id': 3248, 'amount': 797},
   {'transaction-id': 3646, 'amount': 812},
   {'transaction-id': 3777, 'amount': 687},
   {'transaction-id': 3840, 'amount': 673},
   {'transaction-id': 3915, 'amount': 707},
   {'transaction-id': 4198, 'amount': 686},
   {'transaction-id': 4245, 'amount': 697},
   {'transaction-id': 4267, 'amount': 777},
   {'transaction-id': 4580, 'amount': 792},
   {'transaction-id': 4649, 'amount': 798},
   {'transaction-id': 4661, 'amount': 785},
   {'transaction-id': 4920, 'amount': 662},
   {'transaction-id': 5010, 'amount': 701},
   {'transaction-id': 5066, 'amount': 735},
   {'transaction-id': 5838, 'amount': 701},
   {'transaction-id': 6036, 'amount': 722},
   {'transaction-id': 6102, 'amount': 734},
   {'transaction-id': 6397, 'amount': 776},
   {'transaction-id': 6492, 'amount': 794},
   {'transaction-id': 6649, 'amount': 721},
   {'transaction-id': 6789, 'amount': 808},
   {'transaction-id': 6881, 'amount': 749},
   {'transaction-id': 7578, 'amount': 734},
   {'transaction-id': 7999, 'amount': 809},
   {'transaction-id': 8168, 'amount': 741},
   {'transaction-id': 8351, 'amount': 758},
   {'transaction-id': 8467, 'amount': 690},
   {'transaction-id': 8519, 'amount': 695},
   {'transaction-id': 8675, 'amount': 788},
   {'transaction-id': 8771, 'amount': 672},
   {'transaction-id': 9262, 'amount': 718},
   {'transaction-id': 9267, 'amount': 788},
   {'transaction-id': 9354, 'amount': 694},
   {'transaction-id': 9535, 'amount': 770},
   {'transaction-id': 9817, 'amount': 831},
   {'transaction-id': 9877, 'amount': 796}]},
 {'id': 2,
  'name': 'Quinn',
  'transactions': [{'transaction-id': 6369, 'amount': 29}]})

### Basic Queries

Once we parse our JSON data into proper Python objects (`dict`s, `list`s, etc.) we can perform more interesting queries by creating small Python functions to run on our data.

In [11]:
# filter: keep only some elements of the sequence
js.filter(lambda record: record['name'] == 'Alice').take(5)

({'id': 14,
  'name': 'Alice',
  'transactions': [{'transaction-id': 15, 'amount': 91},
   {'transaction-id': 950, 'amount': -534},
   {'transaction-id': 1093, 'amount': -152},
   {'transaction-id': 1244, 'amount': 35},
   {'transaction-id': 1430, 'amount': 570},
   {'transaction-id': 4795, 'amount': -609},
   {'transaction-id': 5769, 'amount': 535},
   {'transaction-id': 8637, 'amount': -319},
   {'transaction-id': 9326, 'amount': -477},
   {'transaction-id': 9327, 'amount': -399}]},
 {'id': 16,
  'name': 'Alice',
  'transactions': [{'transaction-id': 935, 'amount': 330},
   {'transaction-id': 2258, 'amount': 327},
   {'transaction-id': 4769, 'amount': 302},
   {'transaction-id': 7286, 'amount': 256},
   {'transaction-id': 7564, 'amount': 367}]},
 {'id': 24,
  'name': 'Alice',
  'transactions': [{'transaction-id': 109, 'amount': 4091},
   {'transaction-id': 246, 'amount': 3386},
   {'transaction-id': 249, 'amount': 3799},
   {'transaction-id': 418, 'amount': 3883},
   {'transaction-id': 604, 'amount': 3506},
   {'transaction-id': 882, 'amount': 3782},
   {'transaction-id': 1073, 'amount': 4089},
   {'transaction-id': 1205, 'amount': 4115},
   {'transaction-id': 2148, 'amount': 3778},
   {'transaction-id': 2197, 'amount': 3968},
   {'transaction-id': 2238, 'amount': 4110},
   {'transaction-id': 2336, 'amount': 3967},
   {'transaction-id': 2640, 'amount': 3972},
   {'transaction-id': 2778, 'amount': 4249},
   {'transaction-id': 3210, 'amount': 3698},
   {'transaction-id': 3236, 'amount': 3843},
   {'transaction-id': 3238, 'amount': 3772},
   {'transaction-id': 3625, 'amount': 3694},
   {'transaction-id': 4139, 'amount': 4016},
   {'transaction-id': 4528, 'amount': 3958},
   {'transaction-id': 4702, 'amount': 4002},
   {'transaction-id': 4853, 'amount': 3561},
   {'transaction-id': 5057, 'amount': 3918},
   {'transaction-id': 5592, 'amount': 4241},
   {'transaction-id': 5901, 'amount': 3944},
   {'transaction-id': 6060, 'amount': 3702},
   {'transaction-id': 6132, 'amount': 3960},
   {'transaction-id': 6266, 'amount': 3819},
   {'transaction-id': 6320, 'amount': 4256},
   {'transaction-id': 6355, 'amount': 3220},
   {'transaction-id': 6357, 'amount': 3942},
   {'transaction-id': 6463, 'amount': 4180},
   {'transaction-id': 6580, 'amount': 3540},
   {'transaction-id': 6968, 'amount': 4211},
   {'transaction-id': 7004, 'amount': 3920},
   {'transaction-id': 7200, 'amount': 3991},
   {'transaction-id': 7281, 'amount': 3828},
   {'transaction-id': 7649, 'amount': 4317},
   {'transaction-id': 7773, 'amount': 3916},
   {'transaction-id': 7947, 'amount': 4111},
   {'transaction-id': 8371, 'amount': 3691},
   {'transaction-id': 8501, 'amount': 3563},
   {'transaction-id': 8884, 'amount': 3936},
   {'transaction-id': 8912, 'amount': 3759},
   {'transaction-id': 8934, 'amount': 4288},
   {'transaction-id': 8975, 'amount': 3707},
   {'transaction-id': 9045, 'amount': 3716},
   {'transaction-id': 9049, 'amount': 4052},
   {'transaction-id': 9670, 'amount': 3904},
   {'transaction-id': 9826, 'amount': 3850},
   {'transaction-id': 9928, 'amount': 3818},
   {'transaction-id': 9967, 'amount': 3649}]},
 {'id': 37,
  'name': 'Alice',
  'transactions': [{'transaction-id': 1127, 'amount': 84},
   {'transaction-id': 1219, 'amount': 135},
   {'transaction-id': 1499, 'amount': 90},
   {'transaction-id': 2738, 'amount': 109},
   {'transaction-id': 3371, 'amount': 187},
   {'transaction-id': 3400, 'amount': 160},
   {'transaction-id': 4111, 'amount': 91},
   {'transaction-id': 5828, 'amount': -16},
   {'transaction-id': 5936, 'amount': -32},
   {'transaction-id': 6197, 'amount': 70},
   {'transaction-id': 8585, 'amount': 139},
   {'transaction-id': 9247, 'amount': 153},
   {'transaction-id': 9690, 'amount': 54}]},
 {'id': 49,
  'name': 'Alice',
  'transactions': [{'transaction-id': 93, 'amount': 123},
   {'transaction-id': 371, 'amount': 167},
   {'transaction-id': 448, 'amount': 129},
   {'transaction-id': 774, 'amount': 134},
   {'transaction-id': 3154, 'amount': 127},
   {'transaction-id': 3496, 'amount': 146},
   {'transaction-id': 3775, 'amount': 158},
   {'transaction-id': 3998, 'amount': 180},
   {'transaction-id': 4642, 'amount': 138},
   {'transaction-id': 5407, 'amount': 130},
   {'transaction-id': 5458, 'amount': 154},
   {'transaction-id': 6308, 'amount': 156},
   {'transaction-id': 6429, 'amount': 118},
   {'transaction-id': 6430, 'amount': 160},
   {'transaction-id': 6528, 'amount': 137},
   {'transaction-id': 6806, 'amount': 132},
   {'transaction-id': 7425, 'amount': 131},
   {'transaction-id': 8257, 'amount': 183},
   {'transaction-id': 8878, 'amount': 155},
   {'transaction-id': 9165, 'amount': 158}]})

In [12]:
def count_transactions(d):
    return {'name': d['name'], 'count': len(d['transactions'])}

# map: apply a function to each element
(js.filter(lambda record: record['name'] == 'Alice')
   .map(count_transactions)
   .take(5))

({'name': 'Alice', 'count': 10},
 {'name': 'Alice', 'count': 5},
 {'name': 'Alice', 'count': 52},
 {'name': 'Alice', 'count': 13},
 {'name': 'Alice', 'count': 20})

In [13]:
# pluck: select a field, as from a dictionary, element[field]
(js.filter(lambda record: record['name'] == 'Alice')
   .map(count_transactions)
   .pluck('count')
   .take(5))

(10, 5, 52, 13, 20)

In [14]:
# Average number of transactions for all of the Alice entries
(js.filter(lambda record: record['name'] == 'Alice')
   .map(count_transactions)
   .pluck('count')
   .mean()
   .compute())

28.350877192982455

### Use `flatten` to de-nest

In the example below we see the use of `.flatten()` to flatten results.  We compute the average amount for all transactions for all Alices.

In [15]:
(js.filter(lambda record: record['name'] == 'Alice')
   .pluck('transactions')
   .take(3))

([{'transaction-id': 15, 'amount': 91},
  {'transaction-id': 950, 'amount': -534},
  {'transaction-id': 1093, 'amount': -152},
  {'transaction-id': 1244, 'amount': 35},
  {'transaction-id': 1430, 'amount': 570},
  {'transaction-id': 4795, 'amount': -609},
  {'transaction-id': 5769, 'amount': 535},
  {'transaction-id': 8637, 'amount': -319},
  {'transaction-id': 9326, 'amount': -477},
  {'transaction-id': 9327, 'amount': -399}],
 [{'transaction-id': 935, 'amount': 330},
  {'transaction-id': 2258, 'amount': 327},
  {'transaction-id': 4769, 'amount': 302},
  {'transaction-id': 7286, 'amount': 256},
  {'transaction-id': 7564, 'amount': 367}],
 [{'transaction-id': 109, 'amount': 4091},
  {'transaction-id': 246, 'amount': 3386},
  {'transaction-id': 249, 'amount': 3799},
  {'transaction-id': 418, 'amount': 3883},
  {'transaction-id': 604, 'amount': 3506},
  {'transaction-id': 882, 'amount': 3782},
  {'transaction-id': 1073, 'amount': 4089},
  {'transaction-id': 1205, 'amount': 4115},
  {'transaction-id': 2148, 'amount': 3778},
  {'transaction-id': 2197, 'amount': 3968},
  {'transaction-id': 2238, 'amount': 4110},
  {'transaction-id': 2336, 'amount': 3967},
  {'transaction-id': 2640, 'amount': 3972},
  {'transaction-id': 2778, 'amount': 4249},
  {'transaction-id': 3210, 'amount': 3698},
  {'transaction-id': 3236, 'amount': 3843},
  {'transaction-id': 3238, 'amount': 3772},
  {'transaction-id': 3625, 'amount': 3694},
  {'transaction-id': 4139, 'amount': 4016},
  {'transaction-id': 4528, 'amount': 3958},
  {'transaction-id': 4702, 'amount': 4002},
  {'transaction-id': 4853, 'amount': 3561},
  {'transaction-id': 5057, 'amount': 3918},
  {'transaction-id': 5592, 'amount': 4241},
  {'transaction-id': 5901, 'amount': 3944},
  {'transaction-id': 6060, 'amount': 3702},
  {'transaction-id': 6132, 'amount': 3960},
  {'transaction-id': 6266, 'amount': 3819},
  {'transaction-id': 6320, 'amount': 4256},
  {'transaction-id': 6355, 'amount': 3220},
  {'transaction-id': 6357, 'amount': 3942},
  {'transaction-id': 6463, 'amount': 4180},
  {'transaction-id': 6580, 'amount': 3540},
  {'transaction-id': 6968, 'amount': 4211},
  {'transaction-id': 7004, 'amount': 3920},
  {'transaction-id': 7200, 'amount': 3991},
  {'transaction-id': 7281, 'amount': 3828},
  {'transaction-id': 7649, 'amount': 4317},
  {'transaction-id': 7773, 'amount': 3916},
  {'transaction-id': 7947, 'amount': 4111},
  {'transaction-id': 8371, 'amount': 3691},
  {'transaction-id': 8501, 'amount': 3563},
  {'transaction-id': 8884, 'amount': 3936},
  {'transaction-id': 8912, 'amount': 3759},
  {'transaction-id': 8934, 'amount': 4288},
  {'transaction-id': 8975, 'amount': 3707},
  {'transaction-id': 9045, 'amount': 3716},
  {'transaction-id': 9049, 'amount': 4052},
  {'transaction-id': 9670, 'amount': 3904},
  {'transaction-id': 9826, 'amount': 3850},
  {'transaction-id': 9928, 'amount': 3818},
  {'transaction-id': 9967, 'amount': 3649}])

In [16]:
(js.filter(lambda record: record['name'] == 'Alice')
   .pluck('transactions')
   .flatten()
   .take(3))

({'transaction-id': 15, 'amount': 91},
 {'transaction-id': 950, 'amount': -534},
 {'transaction-id': 1093, 'amount': -152})

In [17]:
(js.filter(lambda record: record['name'] == 'Alice')
   .pluck('transactions')
   .flatten()
   .pluck('amount')
   .take(3))

(91, -534, -152)

In [18]:
(js.filter(lambda record: record['name'] == 'Alice')
   .pluck('transactions')
   .flatten()
   .pluck('amount')
   .mean()
   .compute())

1184.745491513437

### Groupby and Foldby

Often we want to group data by some function or key.  We can do this either with the `.groupby` method, which is straightforward but forces a full shuffle of the data (expensive) or with the harder-to-use but faster `.foldby` method, which does a streaming combined groupby and reduction.

*  `groupby`:  Shuffles data so that all items with the same key are in the same key-value pair
*  `foldby`:  Walks through the data accumulating a result per key

*Note: the full groupby is particularly bad. In actual workloads you would do well to use `foldby` or switch to `DataFrame`s if possible.*

### `groupby`

Groupby collects items in your collection so that all items with the same value under some function are collected together into a key-value pair.

In [19]:
b = db.from_sequence(['Alice', 'Bob', 'Charlie', 'Dan', 'Edith', 'Frank'])
b.groupby(len).compute()  # names grouped by length

[(7, ['Charlie']), (3, ['Bob', 'Dan']), (5, ['Alice', 'Edith', 'Frank'])]

In [20]:
b = db.from_sequence(list(range(10)))
b.groupby(lambda x: x % 2).compute()

[(0, [0, 2, 4, 6, 8]), (1, [1, 3, 5, 7, 9])]

In [21]:
b.groupby(lambda x: x % 2).starmap(lambda k, v: (k, max(v))).compute()

[(0, 8), (1, 9)]

### `foldby`

Foldby can be quite odd at first.  It is similar to the following functions from other libraries:

*  [`toolz.reduceby`](http://toolz.readthedocs.io/en/latest/streaming-analytics.html#streaming-split-apply-combine)
*  [`pyspark.RDD.combineByKey`](http://abshinn.github.io/python/apache-spark/2014/10/11/using-combinebykey-in-apache-spark/)

When using `foldby` you provide 

1.  A key function on which to group elements
2.  A binary operator such as you would pass to `reduce` that you use to perform reduction per each group
3.  A combine binary operator that can combine the results of two `reduce` calls on different parts of your dataset.

Your reduction must be associative.  It will happen in parallel in each of the partitions of your dataset.  Then all of these intermediate results will be combined by the `combine` binary operator.

In [22]:
b.foldby(lambda x: x % 2, binop=max, combine=max).compute()

[(0, 8), (1, 9)]

### Example with account data

We find the number of people with the same name.

In [23]:
%%time
# Warning, this one takes a while...
result = js.groupby(lambda item: item['name']).starmap(lambda k, v: (k, len(v))).compute()
print(sorted(result))

[('Alice', 96), ('Alice', 96), ('Alice', 96), ('Alice', 111), ('Bob', 101), ('Bob', 102), ('Bob', 106), ('Bob', 123), ('Charlie', 120), ('Charlie', 120), ('Charlie', 260), ('Dan', 112), ('Dan', 112), ('Dan', 113), ('Dan', 132), ('Edith', 44), ('Edith', 46), ('Edith', 46), ('Edith', 51), ('Frank', 156), ('Frank', 156), ('Frank', 156), ('Frank', 182), ('George', 96), ('George', 96), ('George', 96), ('George', 112), ('Hannah', 131), ('Hannah', 132), ('Hannah', 132), ('Hannah', 154), ('Ingrid', 83), ('Ingrid', 85), ('Ingrid', 85), ('Ingrid', 100), ('Jerry', 120), ('Jerry', 120), ('Jerry', 120), ('Jerry', 140), ('Kevin', 91), ('Kevin', 93), ('Kevin', 94), ('Kevin', 109), ('Laura', 166), ('Laura', 167), ('Laura', 171), ('Laura', 198), ('Michael', 142), ('Michael', 143), ('Michael', 148), ('Michael', 168), ('Norbert', 120), ('Norbert', 120), ('Norbert', 260), ('Oliver', 36), ('Oliver', 36), ('Oliver', 36), ('Oliver', 42), ('Patricia', 143), ('Patricia', 143), ('Patricia', 144), ('Patricia', 165), ('Quinn', 86), ('Quinn', 104), ('Quinn', 183), ('Ray', 96), ('Ray', 96), ('Ray', 96), ('Ray', 112), ('Sarah', 108), ('Sarah', 108), ('Sarah', 108), ('Sarah', 124), ('Tim', 177), ('Tim', 178), ('Tim', 179), ('Tim', 208), ('Ursula', 96), ('Ursula', 96), ('Ursula', 96), ('Ursula', 112), ('Victor', 97), ('Victor', 100), ('Victor', 100), ('Victor', 112), ('Wendy', 107), ('Wendy', 108), ('Wendy', 108), ('Wendy', 126), ('Xavier', 117), ('Xavier', 118), ('Xavier', 119), ('Xavier', 137), ('Yvonne', 96), ('Yvonne', 96), ('Yvonne', 96), ('Yvonne', 112), ('Zelda', 147), ('Zelda', 147), ('Zelda', 149), ('Zelda', 177)]
CPU times: user 1.02 s, sys: 63.6 ms, total: 1.08 s
Wall time: 3.97 s

In [24]:
%%time
# This one is comparatively fast and produces the same result.
from operator import add
def incr(tot, _):
    return tot + 1

result = js.foldby(key='name', 
                   binop=incr, 
                   initial=0, 
                   combine=add, 
                   combine_initial=0).compute()
print(sorted(result))

[('Alice', 399), ('Bob', 432), ('Charlie', 500), ('Dan', 469), ('Edith', 187), ('Frank', 650), ('George', 400), ('Hannah', 549), ('Ingrid', 353), ('Jerry', 500), ('Kevin', 387), ('Laura', 702), ('Michael', 601), ('Norbert', 500), ('Oliver', 150), ('Patricia', 595), ('Quinn', 373), ('Ray', 400), ('Sarah', 448), ('Tim', 742), ('Ursula', 400), ('Victor', 409), ('Wendy', 449), ('Xavier', 491), ('Yvonne', 400), ('Zelda', 620)]
CPU times: user 132 ms, sys: 12.6 ms, total: 145 ms
Wall time: 518 ms

### Exercise: compute total amount per name

We want to groupby (or foldby) the `name` key, then add up the all of the amounts for each name.

Steps

1.  Create a small function that, given a dictionary like 

        {'name': 'Alice', 'transactions': [{'amount': 1, 'id': 123}, {'amount': 2, 'id': 456}]}
        
    produces the sum of the amounts, e.g. `3`
    
2.  Slightly change the binary operator of the `foldby` example above so that the binary operator doesn't count the number of entries, but instead accumulates the sum of the amounts.

In [25]:
# Your code here...

## DataFrames

For the same reasons that Pandas is often faster than pure Python, `dask.dataframe` can be faster than `dask.bag`.  We will work more with DataFrames later, but from the point of view of a Bag, it is frequently the end-point of the "messy" part of data ingestion—once the data can be made into a data-frame, then complex split-apply-combine logic will become much more straight-forward and efficient.

You can transform a bag with a simple tuple or flat dictionary structure into a `dask.dataframe` with the `to_dataframe` method.

In [26]:
df1 = js.to_dataframe()
df1.head()

/usr/share/miniconda3/envs/dask-tutorial/lib/python3.8/site-packages/dask/dataframe/backends.py:187: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  _numeric_index_types = (pd.Int64Index, pd.Float64Index, pd.UInt64Index)
/usr/share/miniconda3/envs/dask-tutorial/lib/python3.8/site-packages/dask/dataframe/backends.py:187: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  _numeric_index_types = (pd.Int64Index, pd.Float64Index, pd.UInt64Index)
/usr/share/miniconda3/envs/dask-tutorial/lib/python3.8/site-packages/dask/dataframe/backends.py:187: FutureWarning: pandas.UInt64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  _numeric_index_types = (pd.Int64Index, pd.Float64Index, pd.UInt64Index)

   id     name                                       transactions
0   0   Yvonne  [{'transaction-id': 258, 'amount': 4556}, {'tr...
1   1    Laura  [{'transaction-id': 444, 'amount': 741}, {'tra...
2   2    Quinn           [{'transaction-id': 6369, 'amount': 29}]
3   3  Norbert  [{'transaction-id': 1365, 'amount': 56}, {'tra...
4   4    Jerry  [{'transaction-id': 244, 'amount': 470}, {'tra...

This now looks like a well-defined DataFrame, and we can apply Pandas-like computations to it efficiently.

Using a Dask DataFrame, how long does it take to do our prior computation of numbers of people with the same name?  It turns out that `dask.dataframe.groupby()` beats `dask.bag.groupby()` by more than an order of magnitude; but it still cannot match `dask.bag.foldby()` for this case.

In [27]:
%time df1.groupby('name').id.count().compute().head()

CPU times: user 240 ms, sys: 30.6 ms, total: 270 ms
Wall time: 1.48 s

name
Alice      399
Bob        432
Charlie    500
Dan        469
Edith      187
Name: id, dtype: int64

### Denormalization

This DataFrame format is less-than-optimal because the `transactions` column is filled with nested data so Pandas has to revert to `object` dtype, which is quite slow in Pandas.  Ideally we want to transform to a dataframe only after we have flattened our data so that each record is a single `int`, `string`, `float`, etc..

In [28]:
def denormalize(record):
    # returns a list for each person, one item per transaction
    return [{'id': record['id'], 
             'name': record['name'], 
             'amount': transaction['amount'], 
             'transaction-id': transaction['transaction-id']}
            for transaction in record['transactions']]

transactions = js.map(denormalize).flatten()
transactions.take(3)

({'id': 0, 'name': 'Yvonne', 'amount': 4556, 'transaction-id': 258},
 {'id': 0, 'name': 'Yvonne', 'amount': 4842, 'transaction-id': 2117},
 {'id': 0, 'name': 'Yvonne', 'amount': 3950, 'transaction-id': 2313})

In [29]:
df = transactions.to_dataframe()
df.head()

   id    name  amount  transaction-id
0   0  Yvonne    4556             258
1   0  Yvonne    4842            2117
2   0  Yvonne    3950            2313
3   0  Yvonne    4135            2490
4   0  Yvonne    4441            2554

In [30]:
%%time
# number of transactions per name
# note that the time here includes the data load and ingestion
df.groupby('name')['transaction-id'].count().compute()

CPU times: user 217 ms, sys: 5.88 ms, total: 223 ms
Wall time: 1.19 s

name
Alice       11312
Bob         16588
Charlie     20094
Dan         22887
Edith        7102
Frank       22588
George      27962
Hannah      19904
Ingrid       9494
Jerry       15751
Kevin       16572
Laura       38006
Michael     15381
Norbert     18425
Oliver       2805
Patricia    15872
Quinn       14756
Ray         25724
Sarah       12851
Tim         39095
Ursula      17981
Victor      22392
Wendy       17511
Xavier      22108
Yvonne      17435
Zelda       29404
Name: transaction-id, dtype: int64

## Limitations

Bags provide very general computation (any Python function.)  This generality
comes at cost.  Bags have the following known limitations

1.  Bag operations tend to be slower than array/dataframe computations in the
    same way that Python tends to be slower than NumPy/Pandas
2.  ``Bag.groupby`` is slow.  You should try to use ``Bag.foldby`` if possible.
    Using ``Bag.foldby`` requires more thought. Even better, consider creating
    a normalised dataframe.

## Learn More

* [Bag documentation](https://docs.dask.org/en/latest/bag.html)
* [Bag screencast](https://youtu.be/-qIiJ1XtSv0)
* [Bag API](https://docs.dask.org/en/latest/bag-api.html)
* [Bag examples](https://examples.dask.org/bag.html)

## Shutdown

In [31]:
client.shutdown()

/usr/share/miniconda3/envs/dask-tutorial/lib/python3.8/site-packages/dask/dataframe/backends.py:187: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  _numeric_index_types = (pd.Int64Index, pd.Float64Index, pd.UInt64Index)
/usr/share/miniconda3/envs/dask-tutorial/lib/python3.8/site-packages/dask/dataframe/backends.py:187: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  _numeric_index_types = (pd.Int64Index, pd.Float64Index, pd.UInt64Index)
/usr/share/miniconda3/envs/dask-tutorial/lib/python3.8/site-packages/dask/dataframe/backends.py:187: FutureWarning: pandas.UInt64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  _numeric_index_types = (pd.Int64Index, pd.Float64Index, pd.UInt64Index)
/usr/share/miniconda3/envs/dask-tutorial/lib/python3.8/site-packages/dask/dataframe/backends.py:187: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  _numeric_index_types = (pd.Int64Index, pd.Float64Index, pd.UInt64Index)
/usr/share/miniconda3/envs/dask-tutorial/lib/python3.8/site-packages/dask/dataframe/backends.py:187: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  _numeric_index_types = (pd.Int64Index, pd.Float64Index, pd.UInt64Index)
/usr/share/miniconda3/envs/dask-tutorial/lib/python3.8/site-packages/dask/dataframe/backends.py:187: FutureWarning: pandas.UInt64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  _numeric_index_types = (pd.Int64Index, pd.Float64Index, pd.UInt64Index)
/usr/share/miniconda3/envs/dask-tutorial/lib/python3.8/site-packages/dask/dataframe/backends.py:187: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  _numeric_index_types = (pd.Int64Index, pd.Float64Index, pd.UInt64Index)
/usr/share/miniconda3/envs/dask-tutorial/lib/python3.8/site-packages/dask/dataframe/backends.py:187: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  _numeric_index_types = (pd.Int64Index, pd.Float64Index, pd.UInt64Index)
/usr/share/miniconda3/envs/dask-tutorial/lib/python3.8/site-packages/dask/dataframe/backends.py:187: FutureWarning: pandas.UInt64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  _numeric_index_types = (pd.Int64Index, pd.Float64Index, pd.UInt64Index)
/usr/share/miniconda3/envs/dask-tutorial/lib/python3.8/site-packages/dask/dataframe/backends.py:187: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  _numeric_index_types = (pd.Int64Index, pd.Float64Index, pd.UInt64Index)
/usr/share/miniconda3/envs/dask-tutorial/lib/python3.8/site-packages/dask/dataframe/backends.py:187: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  _numeric_index_types = (pd.Int64Index, pd.Float64Index, pd.UInt64Index)
/usr/share/miniconda3/envs/dask-tutorial/lib/python3.8/site-packages/dask/dataframe/backends.py:187: FutureWarning: pandas.UInt64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  _numeric_index_types = (pd.Int64Index, pd.Float64Index, pd.UInt64Index)